body{
    background-color:#FEFAE0 ;
}

h1{
    color:#98DFD6;
    color:#98DFD6;
}

h3{
    color:#98DFD6;
    color:#98DFD6;
}

hr{
    border-style:none;
    border-top-style:dotted;
    border-color:grey;
    border-width:5px;
    width:5%;
}